@font-face {
  font-family: "Gilda Display";
  src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
}

@font-face {
  font-family: Maven;
  src: url(../fonts/Maven_Pro/static/MavenPro-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
header {
  width: 100vw;
  height: 100vh;
  background-color: #2c2c2c;
  color: white;
  font-family: Maven;
  padding: 20px;
}

h1 {
  width: 1vw;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

header section {
  background: linear-gradient(
    45deg,
    rgba(133, 7, 225, 1) 0%,
    rgba(25, 72, 148, 1) 40%,
    rgba(61, 200, 213, 1) 100%
  );
  width: fit-content;
  height: 28vh;
  margin: 200px auto 120px;
  padding: 7px;
  border-radius: 4px;
}

header section:hover {
  background: linear-gradient(
    45deg,
    rgba(61, 200, 213, 1) 0%,
    rgba(25, 72, 148, 1) 40%,
    rgba(133, 7, 225, 1) 100%
  );
}

header h2 {
  font-family: "Gilda Display";
  font-size: 3rem;
  margin-bottom: 40px;
}

header section p {
  font-size: 0.8rem;
  opacity: 0.5;
  width: fit-content;
}

nav {
  text-align: end;
}

nav ul li a {
  text-decoration: none;
  color: grey;
  line-height: 1.5rem;
}

nav ul li a:hover {
  color: white;
}

nav ul li {
  list-style-type: none;
}

/* Main Page */

main {
  margin: auto;
  width: 80vw;
  height: 100vh;
}

main section {
  padding-top: 200px;
  margin-top: 40px 0 0 90px;
}

main section article:first-of-type {
  height: 100vh;
  background: url("../img/background.svg") no-repeat;
  background-position: top left;
}

main section article {
  margin: auto;
  height: 100vh;
  width: 60vw;
}

main section article img {
  width: 60vw;
  border-radius: 5px;
}

main section article h4 {
  font-size: 2rem;
  /* font-family: "Gilda Display"; */
  margin-block: 20px;
}

main section article h3 {
  font-size: 3rem;
  padding-block: 100px 50px;
}

main section article p {
  font-family: Maven;
  margin-bottom: 3rem;
  width: 40vw;
  text-transform: uppercase;
}
